@font-face {
    font-family: Gilroy;
    font-weight: 700;
    src: url(Gilroy-ExtraBold.otf)
}

@font-face {
    font-family: Gilroy;
    font-weight: 400;
    src: url(Gilroy-Light.otf)
}

body {
    text-align: center;
}

body, h1, .h1, h2, .h2, h3, .h3, .section-title, .header, textarea {
    font-family: Gilroy, tahoma, arial, verdana, sans-serif;
}

input[type="text"], input[type="number"], select, textarea, button {
    padding: 8px 16px;
    font-size: 16px;
}

#app form {
    display: inline-block;
}

#app label {
    display: block;
    margin: 0 auto 5px auto;
    text-align: left;
}

#app label span {
    display: inline-block;
    width: 80px;
    text-align: left;
    padding-right: 10px;
}

#app {
    display: block;
    min-height: 400px;
    /*padding-top: 30px;*/
    padding-bottom: 30px;
    width: 600px;
    margin: 0 auto;
}

#app.loading > * {
    display: none;
}

#app.loading {
    background: url(/media/loading.gif) center top no-repeat;
}

#app.shop .cart-product + .cart-product {
    margin-top: 5px;
}

#app.shop .product > *,
#app.order .cart-product > * {
    display: inline-block;
    vertical-align: middle;
}

#app.shop .product > * + *,
#app.order .cart-product > * + * {
    margin-left: 10px;
}

#app.shop .product-name,
#app.order .cart-product-name {
    font-size: 30px;
}

#app .price:after {
    content: '$';
}

#app .cart-total {
    color: darkgreen;
    font-weight: 700;
}

#app .cart-total.overdraft {
    color: darkred;
}

#app .cart-product-multi-sign:after {
    content: ' x ';
}

#app .cart-product-equal-sign:after {
    content: ' = ';
}

#app.shop {
    width: 800px;
}

#app.shop .products,
#app.shop .cart-wrapper {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

#app.shop .cart-product-image.small {
    height: 50px;
}

#app.shop .cart-total {
    margin: 10px 0 5px;
}

#app.shop .product-rating-star {
    display: inline-block;
    height: 13px;
    width: 13px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
}

#app.shop .product-rating-star {
    padding: 3px;
}

#app.shop .product-rating > .product-rating-star:not(.empty) {
    background-image: url(/media/img/star-rating-full.png);
}

#app.shop .product-rating > .product-rating-star.empty {
    background-image: url(/media/img/star-rating-empty.png);
}

#app.shop .product-rating:hover > .product-rating-star,
#app.shop .product-rating.can-rate:hover > .product-rating-star {
    background-image: url(/media/img/star-rating-full.png);
}

#app.shop .product-rating > .product-rating-star.rated ~ .product-rating-star,
#app.shop .product-rating.can-rate > .product-rating-star:hover ~ .product-rating-star {
    background-image: url(/media/img/star-rating-empty.png);
}

#app.shop .product-rating.can-rate > .product-rating-star {
    cursor: pointer;
}

#app.order .cart-delivery,
#app.order .cart-total {
    margin: 15px 0 5px;
}

#app.order .cart-delivery-empty {
    margin: 0 0 0 10px;
    color: darkred;
}
